body {
    display: grid;
    grid-template-rows: 293px auto auto 108px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body::-webkit-scrollbar {
    display: none;
    
  }
  .header {
    background-image: url('https://www.google.com/imgres?q=one%20punch%20man%20gif&imgurl=https%3A%2F%2Fgiffiles.alphacoders.com%2F128%2F12870.gif&imgrefurl=https%3A%2F%2Fwww1.flightrising.com%2Fforums%2Fgend%2F1821159&docid=sm_5IZdJ_CohLM&tbnid=RjAp6nTx8FLqeM&vet=12ahUKEwjv4ZGq76aLAxX0qFYBHap3MUwQM3oECGIQAA..i&w=540&h=270&hcb=2&ved=2ahUKEwjv4ZGq76aLAxX0qFYBHap3MUwQM3oECGIQAAf');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
  }
  .header p {
    color: rgb(0, 0, 0);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #304263;
  }
  .navbar__wrapper {
    position: sticky;
    top: 0px;
  }
  
  .navbar__left {
    display: flex;
  }
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
  }

  .content > .content__right {
    display: flex;
    flex-direction: column;
    background-color: #2e315f;
    padding: 20px;
  }

  .content > .content__left {
    display: flex;
    flex-direction: column;
    background-color: #2e315f;
    padding: 20px;
  }
  .content__leftTopImage{
    padding: 20px;
    background-image: url('onepunchman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content__rightTopImage{
    padding: 20px;
    background-image: url('haha.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content > .content__left > .content__leftTopImage {
    height: 200px;
  }
  .content__left > h2 + h5 {
    margin-top: 0;
  }
  .content__leftDownImage {
    margin-bottom: 18px;
    height: 60px;
  }
  .content__right {
    padding: 20px;
  }
  .content__rightTopImage {
    height: 200px;
  }
  
  @media screen and (max-width: 700px) {
    .content {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 300px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    .navbar__left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
